<% provide(:title, "About") %>
<h1>Trawithとは</h1>
<h2>このサイトは一人でトレーニングをするのに飽きた方、トレーニング仲間が欲しい方、新しい刺激が欲しい方などに向けた合同トレーニングの募集をするための</h2>
<h2>サイトになります。</h2>
<h2>使い方はシンプルです。アカウントを登録し、一緒にトレーニングしたい場所と日付を投稿することで簡単に募集することができます。</h2>
<h2>さあ、あなたも最高のトレーニングパートナーを見つけましょう！</h2>