<% provide(:title, "About") %>
<h1>Trawith Appとは</h1>
<p>
  このアプリは一人でトレーニングをするのに飽きた方、トレーニング仲間が欲しい方、他の人と一緒にトレーニングすることで新しい刺激が欲しい方などに向けた合同トレーニングをするためのサイトになります。
  <br>あなたも最高のトレーニングパートナーを見つけましょう！</br>
</p>
