<li>
  <% if user.image? %>
    <%= image_tag @user.image.thumb.url, class: "gravatar" %>
  <% else %>
    <%= image_tag "/assets/default.png", size: '50x50', class: "gravatar" %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "削除", user, method: :delete,
                                data: { confirm: "削除してもよろしいですか？" } %>
  <% end %>
</li>
