<% if @search_microposts.any? %>
  <ol class="microposts">
    <%= render @search_microposts %>
  </ol>
  <%= paginate @search_microposts, 
            params: { controller: :microposts, action: :search }%>
<% else %>
  <h4>該当するものが見つかりませんでした</h4>
<% end %>