@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

.user-show-h3 {
  margin-left: 40%;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    margin-right: 50px;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* home */

.home-sp .btn {
  margin: 0 10px;
}

.home-pc i, .home-sp i {
  margin-right: 10px;
}

.Heading {
  position: relative;
  left: 0;
  background-image: url("/assets/workout.jpeg");
  background-size: cover;
  height: 500px;
  width: 100%;
  text-align: center;
  color: white;
}

.Heading::before{
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}


.Heading-list {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about {
  padding: 50px 0;
  text-align: center;
}

.function {
  padding: 5% 2%;
  h1 {
    padding: 50px 0 30px 0;
  }
  h2, p {
    float: left;
  }
  p {
    margin-top: 5%;
  }
  img {
    width: 80%;
  }
}

.last {
  margin: 100px 0;
  text-align: center;
  p {
    margin: 20px 0;
  }
}


/* about */
.about-pc {
  margin: 0 20%;
}
.home-pc h2 {
  font-size: 30px;
  margin: 0;
}

.home-pc p {
  font-size: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    h5 {
      white-space: pre-line
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  border-radius: 10px;
  margin-right: 10pz¥x;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    width: 25%;
    float: left;
    text-align: center;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.introduction {
  margin-left: 55px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
i {
  background: none;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users-pc {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.users-sp {
  display: none;
  padding: 0;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* Rooms index */

.rooms {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  h4 {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .message {
    display: block;
    margin-left: 60px;
    a {
      color: black;
      opacity: 0.6;
    }
    a:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .room-destroy {
    float: right;
    margin-top: -20px;
    position: static;
  }
}

/* Rooms show */
.fukidasi span {
  color: #9d9d9d;
  padding-left: 5px;
  font-weight: normal;
}

.fukidasi {
  width: 100%;
  overflow: hidden;
  padding: 10px 10px 10px 5px;
}

.fukidasi:hover {
  background-color: #F2F2F2;
}

.fukidasi .icon {
  float: left;
  margin-right: -50px;
  width: 40px;
}

.fukidasi .messaging {
  width: 100%;
  margin-left: 15px;
  font-size: 13px;
}

.messaging p {
  margin-left: 45px;
  margin-top: -5px;
  font-weight: bold;
}

.says {
  margin-left: 45px;
  margin-top: -10px;
}

.says p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.says img {
  width: 90%;
}

.submit-button {
  position: absolute;
  bottom: 9.4%;
  right: 15px;
  line-height: 32px;
  width: 15%;
}

#room {
  overflow-x: scroll;
  height: 500px;
  width: 100%;
  border: 1px solid #dee2e6;
}

#first_comment {
  text-align: center;
  line-height: 450px;
}

.room-border {
  border: 1px solid #dee2e6;
}

#message_form {
  border: 1px solid #bbb;
  width: 84%;
  margin-bottom: 15px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
}

.room-icon {
  border: 1px solid #dee2e6;
  height: 70px;
  text-align: center;
}

.room-icon .icon {
  line-height: 70px;
  img {
    position: relative;
    top: 10px;
    left: 45%;
  }
}

#room nav.pagination {
  display: none;
}

.feed-following-button {
  float: right;
  margin-top: -26px;
}

/* notification */
.n-circle {
  position: absolute;
  padding-left: 1.5rem;
  padding-top: 0rem;
  color: #efa04c;
}

.notifications-sp {
  display: none;
  .pagination {
    display: none;
  }
}
.notifications {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .room-path, .followers-path, .message {
    display: block;
    a {
      color: black;
      opacity: 0.6;
    }
    a:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  .followers-path {
    padding: 10px 0;
    .user {
      color: black;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    margin-right: 10px;
  }
}

/* レスポンシブ */

@media screen and (max-width: 1024px) {
  .col-md-offset-4 {
    margin: 0 auto;
  }
  .col-md-6 {
    margin: 0;
    width: 100%;
  }
  .col-md-offset-3 {
    margin: 0;
  }
  .col-md-3 {
    width: 100%;
    padding-top: 10vh;
  }
  .col-md-4 {
    width: 100%;
  }
  header {
    height: 10vh;
  }
  header #logo {
    line-height: 10vh;
    font-size: 50px;
    width: 25vw;
    padding: 0;
    margin: 0;
  }
  .alert {
    font-size: 40px;
  }
  .footer-pc {
    display: none;
  }
  .footer-sp {
    display: block !important;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    margin: 0;
    background-color: white;
    border: 2px solid #dee2e6;
  }
  .footer-sp ul {
    width: 100%;
    float: left;
    padding: 0;
  }
  .footer-sp li {
    width: 25%;
    line-height: 10vh;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .footer-sp a {
    margin: 0;
  }
  .footer-sp i {
    line-height: 10vh;
  }
  .gravatar {
    width: 100px;
    height: 100px;
  }
  .pc-nav {
    display: none;
  }
  .btn-trigger, .btn-trigger span {
    display: block !important;
  }
  aside {
    display: none;
    top: 0;
    left: 0;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    z-index: 1031;
    background-color: white;
    font-size: 40px !important;
  }
  aside .new-close {
    position: fixed;
    top: 10px;
    right: 20px;
  }
  .search-close {
    margin-right: 2.5%;
  }
  aside textarea {
    height: 130px;
  }
  aside .btn {
    font-size: 40px;
  }
  .new-button {
    display: block !important;
    position: fixed;
    bottom: 20vh;
    right: 40px;
  }
  .search-button {
    display: block !important;
    position: fixed;
    bottom: 11vh;
    right: 40px;
  }
  span {
    font-size: 35px !important;
  }
  .feed-pc {
    display: none;
  }
  .feed-sp {
    display: block !important;
    margin-bottom: 1vh;
  }
  .feed-sp .gravatar, aside .gravatar {
    width: 100px;
  }
  .post {
    width: 100%;
  }
  .container {
    margin: 0 auto;
    width: 95%;
  }
  .all-contents {
    padding-top: 11vh;
    margin-bottom: 10vh;
  }
  .micropost_search, .user_search {
    display: none;
    position: fixed;
    top: 10vh;
    left: 0;
    padding-bottom: 50px;
    width: 100%;
    z-index: 1031;
    background-color: white;
    font-size: 40px !important;
  }
  option {
    font-size: 15px !important;
  }
  .micropost_search .btn, .user_search .btn {
    font-size: 40px;
  }
  h3, h1, h4 {
    font-size: 50px;
  }
  .user-show-h3 {
    margin: 0;
  }
  h5 {
    font-size: 40px;
  }  
  .feed-following-button {
    font-size: 35px;
    margin-top: -55px;
  }
  .feed-sp span {
    font-size: 30px;
  }
  .feed-sp .pagination {
    display: none;
  }
  .new-button, .search-button {
    border: none;  
    outline: none; 
    background: transparent; 
  }
  .users-pc {
    display: none;
    z-index: 10;
  }
  .users {
    padding: 0;
  }
  .user_search {
    display: none;
  }
  .users-sp {
    display: block !important;
    list-style: none;
    margin: 0;
  }
  .users-sp li {
    font-size: 30px;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  .users-sp span {
    font-size: 30px;
  }
  .users-sp .pagination, .user-micropost-sp .pagination {
    display: none;
  }
  .user-edit, .user-edit .btn {
    font-size: 40px;
  }
  .user-show {
    display: block !important;
    position: static !important;
    padding: 0;
    margin-bottom: 5%;
    z-index: 1;
  }
  .introduction {
    margin-left: 105px;
  }
  form, form .btn {
    font-size: 40px;
  }
  input[type="checkbox"] {
    transform: scale(3.0);
    margin-top: 20px;
    top: 3px;
  }
  .checkbox span {
    margin-left: 35px;
  }
  .login-form p {
    font-size: 40px;
  }
  .form-control {
    font-size: 40px;
  }
  .home-pc, .about-pc {
    display: none;
  }
  .home-sp {
    display: block !important;
    text-align: center;
    .Heading {
      height: 40vh;
    }
    h1, h2 {
      font-size: 50px;
    }
    p {
      font-size: 40px;
    }
    .btn {
      font-size: 40px;
    }
    .function {
      img {
        width: 100%;
      }
      .col-md-7 {
        width: 100%;
      }
    }
  }
  .messaging p, .says p {
    font-size: 30px;
  }
  .messaging {
    margin-left: 60px !important;
  }
  .messaging p {
    margin-top: -10px;
    margin-left: 60px;
    margin-bottom: 0;
  }
  .says {
    margin-left: 0;
  }
  #message form textarea {
    width: 100%;
  }
  .submit-button {
    position: static;
    margin-left: 50%;
    transform: translateX(-60%);
  }
  .microposts .timestamp, .microposts .content {
    margin-left: 110px;
  }
  .room-destroy {
    font-size: 25px;
    margin-top: -43px !important;
  }
  .says img {
    margin-left: 60px;
  }
  #message {
    display: none;
    position: fixed;
    bottom: 10vh;
    left: 0;
    padding-bottom: 50px;
    width: 93%;
    margin-left: 3.5%;
    z-index: 1031;
    background-color: white;
    font-size: 40px !important;
  }
  #message .new-close {
    position: fixed;
    bottom: 10vh;
    right: 3%;
  }
  #room {
    height: 70vh;
  }
  .room-icon {
    height: 120px;
  }
  .room-icon .icon {
    line-height: 120px;
  }
  .user-micropost-pc {
    display: none;
  }
  .user-micropost-sp {
    display: block !important;
    width: 100%;
  }
  .follow-button, .unfollow-button {
    font-size: 60px !important;
  }
  .user-edit-icon {
    line-height: 120px;
  }
  .notifications-pc {
    display: none;
  }
  .notifications-sp {
    display: block;
    .notifications {
      .timestamp {
        margin-left: 110px;
      }
      .gravatar {
        margin-top: 25px;
      }
      .followers-path {
        margin: 25px 0;
      }
    }
  }
  .n-circle {
  position: absolute;
  margin-left: -35px;
  padding-top: 15px;
  color: #efa04c;
}

}


.btn-trigger {
  position: relative;
  width: 7%;
  height: 10vh;
  float: right;
  cursor: pointer;
  z-index: 1040;
}

.btn-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.btn-trigger, .btn-trigger span {
  display: none;
  transition: all .5s;
  box-sizing: border-box;
}

.btn-trigger span:nth-of-type(1) {
  top: 38%;
}

.btn-trigger span:nth-of-type(2) {
  top: 50%;
}

.btn-trigger span:nth-of-type(3) {
  top: 62%;
}

#btn01.active span:nth-of-type(1) {
  -webkit-transform: translateY(17.2px) rotate(-45deg);
  transform: translateY(17.2px) rotate(-45deg);
}

#btn01.active span:nth-of-type(2) {
  opacity: 0;
}

#btn01.active span:nth-of-type(3) {
  -webkit-transform: translateY(-17.2px) rotate(45deg);
  transform: translateY(-17.2px) rotate(45deg);
}

.sp-nav {
  z-index: 1038;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  transition: all .2s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
}

.sp-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp-nav li {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.sp-nav li span {
  font-size: 15px;
  color: #fff;
}

.sp-nav li a, .sp-nav li span {
  display: block;
  padding: 20px 0;
  color: white;
}

.sp-nav .close {
  position: relative;
  padding-left: 20px;
}

.sp-nav .close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( 45deg );
}

.sp-nav .close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( -45deg );
}

.toggle {
  transform: translateY(0);
  opacity: 1;
}

.feed-sp {
  display: none;
}

.room-path:hover {
  background-color: #f2f2f2;
}

.followers-path:hover {
  background-color: #f2f2f2;
}

.room-path {
  color: black;
}

.room-destroy {
  position: absolute;
  bottom: 20px;
  right: 50px;
}

.follow-button, .unfollow-button {
  border: none;  
  outline: none; 
  background: transparent; 
  font-size: 20px;
}

.users-pc .pagination {
  margin-left: 40px;
}

#inquiry_message {
  height: 20vh;
}

.loading {
  position: fixed;
  top: 50%;
  left: 42.5%;
  color: #A9A9A9;
}

.users {
  padding: 0;
}